---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import CommonHeads from "../components/CommonHeads.astro";
---

<html lang="en">
    <head>
        <CommonHeads />
    </head>
    <body class="bg-black">
        <Nav />
    </body>
</html>
