---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import CommonHeads from "../components/CommonHeads.astro";

import Slug from "./[slug].astro";
---

<html lang="en" >
  <head>
    <CommonHeads />
  </head>

  <body class="bg-black">
      <Slug/>
  </body>
</html>
