---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import KiCanvasComponent from "../components/KiCanvasComponent.astro";
---

<div class="flex justify-center items-center bg-black">
  <Nav />
</div>
<div class="w-3xl h-3xl">
  <KiCanvasComponent />
</div>
