---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import CommonHeads from "../components/CommonHeads.astro";
---

<html lang="en">
    <head>
        <CommonHeads />
    </head>
    <body class="bg-black">
    <h1 class="text-white text-2xl text-center p-10 font-bold">Blog Component</h1>

    <p class="text-pretty text-white text-2xl text-center p-5">
      I'll be the docfiles! But for now, I'm a blank page
    </p>
    </body>
</html>
