---
import { Image } from "astro:assets";
import penguin_img from "../../src/penguin-16.svg"
---

<main class="p-5">
  <section class="">
      <!--* { ----HauptContent--- } -->
      <article
        class="flex justify-between items-start p-5 md:p-16
      max-sm:flex-col max-sm:items-center "
      >
        <!-- TODO: Logo Pingubot -->
        <div class="">
          <Image
          src={penguin_img}
            alt=""
            width={75}
            height={75}
            class="w-50 p-5"
          />
        </div>
        <!-- TODO: Texto Pingubot -->
        <div
          class="p-2.5 flex flex-col justify-around flex-1 min-w-10 flex-wrap"
        >
          <h2 class="font-bold m-1.5 text-4xl italic text-white">PinguBot</h2>
          <p class="text-pretty text-white text-2xl">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
            officia impedit nostrum mollitia reiciendis id esse? Cum maiores
            atque nulla hic rerum. Nam perferendis ullam vel laboriosam, animi
            explicabo nemo!
          </p>
        </div>
      </article>
      <!--* { ---- Content --- } -->
    <article class="flex flex-col md:h-screen">
        <div class="one p-5 md:w-2/4">
          <h2 class="font-bold m-1.5 text-4xl italic text-white">¿Why?</h2>
          <p class="text-pretty text-white text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            voluptatum minima quaerat explicabo voluptates quibusdam
            repellendus, ipsa hic dolorem numquam est recusandae autem
            exercitationem inventore reprehenderit voluptatibus nisi possimus
            minus!
          </p>
        </div>
      <div class="two p-5 md:w-2/4 self-end">
          <h2 class="font-bold m-1.5 text-4xl italic text-white">Me</h2>
          <p class="text-pretty text-white text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            voluptatum minima quaerat explicabo voluptates quibusdam
            repellendus, ipsa hic dolorem numquam est recusandae autem
            exercitationem inventore reprehenderit voluptatibus nisi possimus
            minus!
          </p>
        </div>
      </article>
 
    <!--* If you want... -->

      <article class="h-screen flex justify-center flex-col ">
        <h2 class="font-bold m-1.5 text-4xl italic text-white text-center">
          If for some reason you want to...
        </h2>

        <div class="flex justify-center items-center">
          <a
            class="text-center text-white text-3xl p-5 m-10 hover:bg-red-300 h rounded"
            href="#"
          >
            Buy me a coffee

            <i class="bi bi-cup-hot-fill text-white text-5xl"></i>
          </a>
        </div>
      </article>
    </section>
  </main>
