---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import KiCanvasComponent from "../components/KiCanvasComponent.astro";
import CommonHeads from "../components/CommonHeads.astro";

---

<html lang="en">
  <head>
    <CommonHeads />
  </head>
  <body class="bg-black">

    <div class=" p-20 bg-transparent">
      <KiCanvasComponent />    
    </div>
  
  </body>
</html>
