---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import KiCanvasComponent from "../components/KiCanvasComponent.astro";
import CommonHeads from "../components/CommonHeads.astro";

---

<html lang="en">
  <head>
    <CommonHeads />
  </head>
  <body class="bg-black">

    <h1 class="text-white text-2xl text-center p-10 font-bold">Project Component</h1>

    <p class="text-pretty text-white text-2xl text-center p-5">
      I'll collect and show you all the files from the project! 
    </p>

    <div class=" p-20 bg-transparent">
      <KiCanvasComponent />    
    </div>
  
  </body>
</html>
