---
import FooterItem from "./FooterItem.astro"
---

<footer class="m-8">
    <div
      class="grid grid-cols-3 grid-rows-1 max-md:grid-cols-1 max-md:grid-rows-3 max-md:gap-5"
    >
      <FooterItem
        text="Resume"
        icon="bi bi-file-earmark-person-fill"
        url="lol"
      />
      <FooterItem text="Github" icon="bi bi-github" />
      <FooterItem text="Linkedin" icon="bi bi-linkedin" />
    </div>
  </footer>
