---
import "../styles/nav.css";
import NavItem from "./NavItem.astro";
---

<script>
    let btn = document.getElementById("btn");
    let nav = document.getElementById("nav");

    let open: boolean = false;

    function openNav() {
        console.log("Abrí la Nav");
        nav?.classList.add("open");
    }

    function closeNav() {
        console.log("cerré la nav xd");
        nav?.classList.remove("open");
    }

    btn?.addEventListener("click", () => {
        open = !open;
        console.log(open);

        open == true ? closeNav() : openNav();
    });
</script>

<!--? Mobile First | For some reason¿ -->
<header class="">
    <nav class="top-0 absolute fixed z-10 w-full md:static md:sticky ">
        <div
            class="bg-white w-full flex flex-col shadow-neutral-800 shadow-2xl"
        >
            <button class="cursor-pointer p-1 m-1 self-end md:hidden" id="btn">
                <i class="bi bi-list text-5xl text-black"></i>
            </button>
            <!--? -->
        </div>
        <div id="nav" class="flex justify-center h-60 gap-10 bg-red-300 flex-col w-full md:open md:flex-row md:h-auto md:p-5  
        
        ">
            <NavItem icon="bi bi-house-heart" text="Home" url="#" />
            <NavItem icon="bi bi-robot" text="Project" url="#" />
            <NavItem icon="bi bi-house-heart" text="Home" url="#" />
        </div>
    </nav>
</header>
