---
---


<header class="m-5">
    <nav class="flex justify-around gap-5">
        <a href="#" class="nav-item hover:bg-violet-800">Home</a>
        <a href="/blog" class="nav-item hover:bg-violet-800">Blog</a>
        <a href="/project" class="nav-item hover:bg-violet-800">Project</a>
    </nav>
</header>