---
    const {icon, text, url} = Astro.props
---

<a href={url} class="text-white cursor-pointer w-auto text-center text-3xl hover:text-black md:p-5 md:hover:bg-amber-50"
    >{text}
    <i class={`${icon}`}></i>
</a>
